# 0.0. Imports

In [1]:
import pandas as pd
import inflection
import math

## 0.1. Helper functions

## 0.2. Loading data

In [2]:
df_sales_raw = pd.read_csv("data/train.csv", low_memory=False)
df_store_raw = pd.read_csv("data/store.csv", low_memory=False)

# merge df's
df_raw = df_sales_raw.merge(df_store_raw, how="left", on="Store")

In [3]:
df_raw.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [20]:
df_raw.sample(5)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
174676,737,3,2015-02-25,4875,738,1,0,0,0,a,a,100.0,5.0,2007.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
580516,387,1,2014-01-27,6149,1027,1,0,0,0,c,a,210.0,NaN,NaN,1,36.0,2013.0,"Mar,Jun,Sept,Dec"
875409,920,3,2013-05-08,5378,621,1,0,0,0,a,a,850.0,2.0,2012.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
730826,172,6,2013-09-14,5865,770,1,0,0,0,a,a,110.0,NaN,NaN,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
798667,1113,2,2013-07-16,6780,650,1,1,0,1,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN

# 1.0. Data description

## 1.1. Rename Columns

In [4]:
df1 = df_raw.copy()

In [5]:
df1.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

In [6]:
cols_old = ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval']
snakecase = lambda x: inflection.underscore(x)

# map returns an iterable, so it must be transformed into a list
cols_new = list( map( snakecase, cols_old ) )

# rename
df1.columns = cols_new
df1.columns

Index(['store', 'day_of_week', 'date', 'sales', 'customers', 'open', 'promo',
       'state_holiday', 'school_holiday', 'store_type', 'assortment',
       'competition_distance', 'competition_open_since_month',
       'competition_open_since_year', 'promo2', 'promo2_since_week',
       'promo2_since_year', 'promo_interval'],
      dtype='object')

## 1.2. Data Dimensions

In [7]:
# shape gives the number of rows and columns, [] are selection wich element
print( f"number of Rows {df1.shape[0]}" )
print( f"number of Cols {df1.shape[1]}" )

number of Rows 1017209
number of Cols 18

## 1.3. Data Types

In [8]:
df1.dtypes

store                             int64
day_of_week                       int64
date                             object
sales                             int64
customers                         int64
open                              int64
promo                             int64
state_holiday                    object
school_holiday                    int64
store_type                       object
assortment                       object
competition_distance            float64
competition_open_since_month    float64
competition_open_since_year     float64
promo2                            int64
promo2_since_week               float64
promo2_since_year               float64
promo_interval                   object
dtype: object

In [9]:
# change date col type from object to datetime64
df1["date"] = pd.to_datetime( df1["date"] )

df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
dtype: object

## 1.4. Check NA

In [10]:
# .isna substitutes every value according to: value = na -> true, value != na -> false
# .sum in this case adds all the trues
df1.isna().sum()

store                                0
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
store_type                           0
assortment                           0
competition_distance              2642
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
dtype: int64

## 1.5. Fill NA

There are 3 different ways to handle NA's  
    1 - Delete every row that has one  
        Downside: it loses a lot of valuable data alongside  
    2 - Use Machine Learning algorithms to predict wich values wold be in NA places  
    3 - Understand the business

### 1.5.1 competition_distance

in this case I am using the third approach writen abbove:  
if there is an NA it is because there's no competition nearby  
therefore I will substitute every NA by a very large value, much greater than the max natural value

In [11]:

df1["competition_distance"].max()

75860.0

In [12]:
df1["competition_distance"] = df1["competition_distance"].apply( lambda x: 200000.0 if math.isnan(x) else x )

df1["competition_distance"].max()

200000.0

### 1.5.2 competition_open_since_month

In this particular case, with the engeneering future process in mind, I will take into account that this date is going to show how the stores were impacted by the opening of competidors.  
This NA might exist because there is no competition around the store or that there is competition but there is really no data regarding it's opening.  
I am going to substitute the NA by the month that the store itself opened, not the competidor. It is an artifitial substitution, but is a try. I am going to know if this works in the end, looking at the model created by the machine learnig algorithm. If it does not wields a good result, it is OK, I am going to try to make something different, that's just a beginning

In [13]:

df1["competition_open_since_month"] = df1.apply( lambda x: x["date"].month if math.isnan(x["competition_open_since_month"]) else x["competition_open_since_month"], axis=1 )

### 1.5.3 competition_open_since_year

Same principle as in the previous section

In [15]:

df1["competition_open_since_year"] = df1.apply( lambda x: x["date"].year if math.isnan(x["competition_open_since_year"]) else x["competition_open_since_year"], axis=1 )

### 1.5.4 promo2_since_week

Same as previous sections

In [17]:

df1["promo2_since_week"] = df1.apply( lambda x: x["date"].week if math.isnan(x["promo2_since_week"]) else x["promo2_since_week"], axis=1 )

### 1.5.5 promo2_since_year

Same as previous sections

In [19]:

df1["promo2_since_year"] = df1.apply( lambda x: x["date"].year if math.isnan(x["promo2_since_year"]) else x["promo2_since_year"], axis=1 )

### 1.5.6 promo_interval

Is a string containing months that have fixed promotions.  
To use this information better I am going to create a helper column, curr_month, and a new column is_promo2 that tells me if any promo2 is active in the current month. To remove the NA's in promo_interval I am simply going to substitute them for 0

In [39]:
# substitute all na's by 0 not returning anything (inplace=True) to make the subsequent comparison easier
df1["promo_interval"].fillna(0, inplace=True)

# create a map that will help trace each month to it's correspondent name abreviation
month_map = {1: "Jan", 2: "Feb", 3: "Mar", 4: "Apr", 5: "May", 6: "Jun", 7: "Jul", 8: "Aug", 9: "Sep", 8: "Oct", 9: "Nov", 10: "Dec", 11: "Nov", 12: "Dec"}

# make a column that shows the current mont name, not number
df1["curr_month"] = df1["date"].dt.month.map( month_map )

# helper function that will be given to apply
def in_promo_interval(x):
    if x["promo_interval"] == 0:
        return 0
    elif x["curr_month"] in x["promo_interval"].split(","):
        return 1
    else:
        return 0

# is_promo2 will tell if there is a promo2 going on the current date, axis=1 to apply by row in all columns
df1["is_promo2"] = df1[["promo_interval", "curr_month"]].apply(in_promo_interval, axis=1)

In [43]:
df1.isna().sum()

store                           0
day_of_week                     0
date                            0
sales                           0
customers                       0
open                            0
promo                           0
state_holiday                   0
school_holiday                  0
store_type                      0
assortment                      0
competition_distance            0
competition_open_since_month    0
competition_open_since_year     0
promo2                          0
promo2_since_week               0
promo2_since_year               0
promo_interval                  0
curr_month                      0
is_promo2                       0
dtype: int64