# 0.0. Imports

In [2]:
import pandas as pd
import numpy as np
import datetime
import inflection
import math

import seaborn as sns

from matplotlib import pyplot as plt
from IPython.display import Image

In [3]:
# setting seaborn figure sizes to occupy the whole screen
sns.set(rc={'figure.figsize':(20, 12)})

## 0.1. Helper functions

## 0.2. Loading data

In [4]:
df_sales_raw = pd.read_csv("data/train.csv", low_memory=False)
df_store_raw = pd.read_csv("data/store.csv", low_memory=False)

# merge df's
df_raw = df_sales_raw.merge(df_store_raw, how="left", on="Store")

In [5]:
df_raw.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [6]:
df_raw.sample(5)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
959211,1097,5,2013-02-22,9650,2474,1,1,0,0,b,b,720.0,3.0,2002.0,0,NaN,NaN,NaN
64007,453,4,2015-06-04,9388,1050,1,1,0,0,a,c,75860.0,NaN,NaN,0,NaN,NaN,NaN
922506,72,2,2013-03-26,5548,614,1,1,0,1,a,a,2200.0,12.0,2009.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
444804,705,4,2014-05-29,0,0,0,0,a,0,a,a,4140.0,9.0,2012.0,1,18.0,2011.0,"Feb,May,Aug,Nov"
471437,578,1,2014-05-05,12039,968,1,1,0,0,d,a,12700.0,4.0,2013.0,0,NaN,NaN,NaN

# 1.0. Data description

## 1.1. Rename Columns

In [7]:
df1 = df_raw.copy()

In [8]:
df1.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

In [9]:
cols_old = ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval']
snakecase = lambda x: inflection.underscore(x)

# map returns an iterable, so it must be transformed into a list
cols_new = list( map( snakecase, cols_old ) )

# rename
df1.columns = cols_new
df1.columns

Index(['store', 'day_of_week', 'date', 'sales', 'customers', 'open', 'promo',
       'state_holiday', 'school_holiday', 'store_type', 'assortment',
       'competition_distance', 'competition_open_since_month',
       'competition_open_since_year', 'promo2', 'promo2_since_week',
       'promo2_since_year', 'promo_interval'],
      dtype='object')

## 1.2. Data Dimensions

In [10]:
# shape gives the number of rows and columns, [] are selection wich element
print( f"number of Rows {df1.shape[0]}" )
print( f"number of Cols {df1.shape[1]}" )

number of Rows 1017209
number of Cols 18

## 1.3. Data Types

In [11]:
df1.dtypes

store                             int64
day_of_week                       int64
date                             object
sales                             int64
customers                         int64
open                              int64
promo                             int64
state_holiday                    object
school_holiday                    int64
store_type                       object
assortment                       object
competition_distance            float64
competition_open_since_month    float64
competition_open_since_year     float64
promo2                            int64
promo2_since_week               float64
promo2_since_year               float64
promo_interval                   object
dtype: object

In [12]:
# change date col type from object to datetime64
df1["date"] = pd.to_datetime( df1["date"] )

df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
dtype: object

## 1.4. Check NA

In [13]:
# .isna substitutes every value according to: value = na -> true, value != na -> false
# .sum in this case adds all the trues
df1.isna().sum()

store                                0
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
store_type                           0
assortment                           0
competition_distance              2642
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
dtype: int64

## 1.5. Fill NA

There are 3 different ways to handle NA's  
    1 - Delete every row that has one  
        Downside: it loses a lot of valuable data alongside  
    2 - Use Machine Learning algorithms to predict wich values wold be in NA places  
    3 - Understand the business

### 1.5.1 competition_distance

in this case I am using the third approach writen abbove:  
if there is an NA it is because there's no competition nearby  
therefore I will substitute every NA by a very large value, much greater than the max natural value

In [14]:

df1["competition_distance"].max()

75860.0

In [15]:
df1["competition_distance"] = df1["competition_distance"].apply( lambda x: 200000.0 if math.isnan(x) else x )

df1["competition_distance"].max()

200000.0

### 1.5.2 competition_open_since_month

In this particular case, with the engeneering future process in mind, I will take into account that this date is going to show how the stores were impacted by the opening of competidors.  
This NA might exist because there is no competition around the store or that there is competition but there is really no data regarding it's opening.  
I am going to substitute the NA by the month that the store itself opened, not the competidor. It is an artifitial substitution, but is a try. I am going to know if this works in the end, looking at the model created by the machine learnig algorithm. If it does not wields a good result, it is OK, I am going to try to make something different, that's just a beginning

In [ ]:

df1["competition_open_since_month"] = df1.apply( lambda x: x["date"].month if math.isnan(x["competition_open_since_month"]) else x["competition_open_since_month"], axis=1 )

### 1.5.3 competition_open_since_year

Same principle as in the previous section

In [ ]:

df1["competition_open_since_year"] = df1.apply( lambda x: x["date"].year if math.isnan(x["competition_open_since_year"]) else x["competition_open_since_year"], axis=1 )

### 1.5.4 promo2_since_week

Same as previous sections

In [ ]:

df1["promo2_since_week"] = df1.apply( lambda x: x["date"].week if math.isnan(x["promo2_since_week"]) else x["promo2_since_week"], axis=1 )

### 1.5.5 promo2_since_year

Same as previous sections

In [ ]:

df1["promo2_since_year"] = df1.apply( lambda x: x["date"].year if math.isnan(x["promo2_since_year"]) else x["promo2_since_year"], axis=1 )

### 1.5.6 promo_interval

Is a string containing months that have fixed promotions.  
To use this information better I am going to create a helper column, curr_month, and a new column is_promo2 that tells me if any promo2 is active in the current month. To remove the NA's in promo_interval I am simply going to substitute them for 0

In [ ]:
# substitute all na's by 0 not returning anything (inplace=True) to make the subsequent comparison easier
df1["promo_interval"].fillna(0, inplace=True)

# create a map that will help trace each month to it's correspondent name abreviation
month_map = {1: "Jan", 2: "Feb", 3: "Mar", 4: "Apr", 5: "May", 6: "Jun", 7: "Jul", 8: "Aug", 9: "Sep", 8: "Oct", 9: "Nov", 10: "Dec", 11: "Nov", 12: "Dec"}

# make a column that shows the current mont name, not number
df1["curr_month"] = df1["date"].dt.month.map( month_map )

# helper function that will be given to apply
def in_promo_interval(x):
    if x["promo_interval"] == 0:
        return 0
    elif x["curr_month"] in x["promo_interval"].split(","):
        return 1
    else:
        return 0

# is_curr_in_promo2 will tell if there is a promo2 going on the current date, axis=1 to apply by row in all columns
df1["is_curr_in_promo2"] = df1[["promo_interval", "curr_month"]].apply(in_promo_interval, axis=1)

In [ ]:
df1.isna().sum()

## 1.6. Change types

In [ ]:
# every time you perform actions that change the data on the dataframe it is worthy to take another look at the
# types
df1.dtypes

In [ ]:
# change float64 to int
df1["competition_open_since_month"] = df1["competition_open_since_month"].astype( int )
df1["competition_open_since_year"] = df1["competition_open_since_year"].astype( int )
df1["promo2_since_week"] = df1["promo2_since_week"].astype( int )
df1["promo2_since_year"] = df1["promo2_since_year"].astype( int )

In [ ]:
df1.dtypes

## 1.7. Descriptive Statistics

In [ ]:
# divide numerical variables from categorical
num_attributes = df1.select_dtypes( include=["int64", "float64"] )
cat_attributes = df1.select_dtypes( exclude=["int64", "float64", "datetime64[ns]"] )

### 1.7.1. Numerical attributes

In [ ]:
# Central Tendency - mean, median
ct1 = pd.DataFrame( num_attributes.apply( np.mean ) ).T
ct2 = pd.DataFrame( num_attributes.apply( np.median ) ).T

# Dispersiom - std, min, max, range, skew, kurtosis
# skew is how much skewed is a graph in relation to a normal distribution
# kurtosis is how concentrated or not are the values - high values => more concentrated => sharper peak
d1 = pd.DataFrame( num_attributes.apply( np.std ) ).T
d2 = pd.DataFrame( num_attributes.apply( min ) ).T
d3 = pd.DataFrame( num_attributes.apply( max ) ).T
d4 = pd.DataFrame( num_attributes.apply(lambda x: x.max() - x.min() ) ).T
d5 = pd.DataFrame( num_attributes.apply(lambda x: x.skew() ) ).T
d6 = pd.DataFrame( num_attributes.apply(lambda x: x.kurtosis() ) ).T

m = pd.concat([d2, d3, d4, ct1, ct2, d1, d5, d6]).T.reset_index()
m.columns = ["attributes", "min", "max", "range", "mean", "median", "std", "skew", "kurtosis"]

m

In [ ]:
# notice that the huge kurtosis indicates that there is a big peak in the graph
# and that the great positive skew indicates that there is a deformation to the right

cd_plot = sns.histplot( df1["competition_distance"], kde=True )

### 1.7.2 Categorical attributes

In [ ]:
# how many unique attributes
cat_attributes.apply(lambda x: x.unique().shape[0])

In [ ]:
# filtering out the days that had not have holidays (0) and the sales that were 0, the data that happend in days
# that the stores were closed, possibly that closed during the holiday
aux1 = df1[(df1["state_holiday"] != "0") & (df1["sales"] > 0)]

# plt.subplot to separete the screen and 1, 3, 1 => 1 line, 3 columns, this one in the first position
plt.subplot(1, 3, 1)
sns.boxplot( x="state_holiday", y="sales", data=aux1)

plt.subplot(1, 3, 2)
sns.boxplot( x="store_type", y="sales", data=aux1)

plt.subplot(1, 3, 3)
sns.boxplot( x="assortment", y="sales", data=aux1)

# 2.0. Feature Engineering

## 2.1.1 Hypothesis mind map

In [ ]:
Image( "imgs/mindmap_store_sales.png" )

Having the mind map, the next step is formulating hypothesis  
Hypothesis are bets, that may or may not be validated through data

## 2.2. Hypothesis creation

These hypothesis are not implying in cause and effect, it is a correlation.

If you increase the size of a store, not necessarily you will increase sales, beacause there are many factors, including store size that are influencing in the sales level

And that is why we are trying to map all the attributes thare are influencing here

### 2.2.1 Hypothesis related to stores

**1.** Stores with larger staff should sell more

**2.** Stores with larger stock should sell more (stock is not only the part that is kept in storage, away from the public, but what is exposed as well)

**3.** Larger stores should sell more

**4.** Stores with larger assorment should sell more (greater variety in products, a client can come to buy something and ending up buying something else as well)

**5.** Stores with close competitors should sell less

**6.** Stores with longer-term competitors should sell less

### 2.2.2 Hypothesis related to product

**1.** Stores investing more in marketing should sell more

**2.** Stores displaying more products in the showcase should sell more

**3.** Stores with lower prices for the same product should sell more

**4.** Stores with more aggresive promotions should sell more (cheaper product)

**5.** Stores with longer sales (promotions) periods should sell more

**6.** Stores with longer sales consecutive days should sell more

**7.** Stores with more consecutive sales periods should sell more

### 2.2.3 Hypothesis related to time (seasonality)

**1.** Stores that open during the christmas holiday should sell more

**2.** Stores should sell more along the years 

**3.** Stores should sell more during the last half of the year

**4.** Stores should sell more after the tenth day of the month 

**5.** Stores should sell less on weekends

**6.** Stores should sell less on school holidays

## 2.4. Final hypothesis list - priorities

The priority is given by the availability of the data.

If you already have the data in the table, test the hypothesis.

If the machine learning algorithm is not perfoming well or the hypothesis is very relevant you can comeback in the next cicle and look for the missing data for these hypothesis

### 2.4.1 Store hypothesis

**1.** Stores with larger assorment should sell more (greater variety in products, a client can come to buy something and ending up buying something else as well)

**2.** Stores with close competitors should sell less

**3.** Stores with longer-term competitors should sell less

### 2.4.1 Product hypothesis

**1.** Stores with longer sales (promotions) periods should sell more

**2.** Stores with longer sales consecutive days should sell more

**3.** Stores with more consecutive sales periods should sell more

### 2.4.1 Time hypothesis

**1.** Stores that open during the christmas holiday should sell more

**2.** Stores should sell more along the years 

**3.** Stores should sell more during the last half of the year

**4.** Stores should sell more after the tenth day of the month 

**5.** Stores should sell less on weekends

**6.** Stores should sell less on school holidays

## 2.5. Feature Engineering

Creating variables/columns for future processing, foreseeing future variables needs

In [ ]:
df2 = df1.copy()

In [ ]:
df2.sample(5).T

In [ ]:
# YEAR
df2["year"] = df2["date"].dt.year

# MONTH
df2["month"] = df2["date"].dt.month

# DAY
df2["day"] = df2["date"].dt.day

# WEEK OF YEAR
df2["week_of_year"] = df2["date"].dt.isocalendar().week

# YEAR WEEK - just a date format (2015-30)
df2["year_week"] = df2["date"].dt.strftime("%Y-%W")


# COMPETITION SINCE

# forming a datetime from columns ...since_year and ...since_month
df2["competition_since"] = df2.apply( lambda x: datetime.datetime( year=x["competition_open_since_year"], month=x["competition_open_since_month"], day=1 ), axis=1 )

# the result of the subtraction of df2["date"] and df2["competition_since"] is a number of days, so we divide
# by 30 to get the number of months
# the problem is that now we have a datetime obj that has a number of weeks in it's days property
# so we use apply to extract days and transform the resulting str in integer 
df2["competition_time_in_months"] = ( ( df2["date"] - df2["competition_since"] ) / 30 ).apply( lambda x: x.days ).astype(int)


# PROMO2 SINCE
# first join the str values of promo2_since_year and promo2_since_week
df2["promo2_since"] = df2["promo2_since_year"].astype(str) + "-" + df2["promo2_since_week"].astype(str)

# then loop through all values a transformation to datetime obj from a str using strptime
# the x is the str, the "-1" is a concatenation of strs, transforming "2012-31" to "2012-31-1", symbolizing the
# assumption that the week day in wich the promo2 began was sunday, and the "%Y-%W-%w" is
# the format that the given str is
# the subtraction of datetime.timedelta( days=7 ) means that we are taking off a week from the number
# aproximately transforming the value from ISO to a count that has the first week of the year in other day
# probably to maintain the same date format throughout the project
df2["promo2_since"] = df2["promo2_since"].apply( lambda x: datetime.datetime.strptime( x + "-1", "%Y-%W-%w" ) - datetime.timedelta( days=7 ) )

# then subtract and divide by seven to get the number of weeks, as in COMPETITION SINCE
df2["promo2_time_in_weeks"] = ( ( df2["date"] - df2["promo2_since"] ) / 7 ).apply( lambda x: x.days ).astype(int)


# ASSORTMENT
# a = basic, b = extra, c = extended
df2["assortment"] = df2["assortment"].apply(lambda x: "basic" if x == "a" else "extra" if x == "b" else "extended")

# STATE HOLIDAY
# a = public holiday, b = Easter holiday, c = Christmas, 0 = None
df2["state_holiday"] = df2["state_holiday"].apply(lambda x: "public_holiday" if x == "a" else "easter_holiday" if x == "b" else "christmas" if x == "c" else "regular_day")

In [ ]:
df2.head().T

# 3.0. Variable filtering

Variable filtering is a proccess that takes into consideration a business analysis.

You will take out from the analysis data that although relevant is not available in the business side.
And also take into account the higher priority of the demand. Perhaps the boss wants attention in a given store type only. You can filter out the other types.

i.e. An analysis that discovered that higher discounts yelds higher sales. However the business team does not know discounts before the product is lauch, therefore it is a information that has no impact in any planing of product launching.

Filtering helps preventing this scenario. If you know that discounts can not be use, you can choose another variable for the analysis.

In [ ]:
df3 = df2.copy()

## 3.1. Row filtering

Rows where **"open"** == 0. These are days in wich no sales were made, so there is no valuable information here.

Rows where **"sales"** > 0. Same reason as above.

In [ ]:
df3 = df3[(df3["open"] != 0) & (df3["sales"] > 0)]

## 3.2. Column filtering

Col **"customers"**: There is no prediction of the amount of custumers that will visit the store in the future, just the amount in the date of the recording. No comparison available, business restriction

Droping "open" column as well, because once the 0 were filtered out there remains only 1 in every cell no relevant info remains there

Cols promo_interval and curr_month used just to derive is_curr_in_promo2 col

In [ ]:
# droping "open" column as well, because once the 0 were filtered out there remains only 1 in every cell
# no relevant info remains there

cols_drop = ["customers", "open", "promo_interval", "curr_month"]
df3 = df3.drop( cols_drop, axis=1 )

# 4.0. Exploratory Data Analysis

In [ ]:
df4 = df3.copy()

## 4.1. Univariate Analysis

### 4.1.1 Response variable

In [ ]:
sns.histplot(df4["sales"], kde=True)

In [ ]:
# if we wanted to normalize more:
sns.histplot( np.log1p( df4["sales"] ), kde=True )
# there is no need in this case

### 4.1.2 Numerical variable

In [ ]:
num_attributes = df4.select_dtypes( include=["int64", "float64"] )
num_attributes.hist( bins=25, figsize=(25,16) );

### 4.1.3 Categorical variable

In [ ]:
df4["state_holiday"].drop_duplicates()

In [ ]:
# STATE HOLIDAY

# since most colected days are regular days, it's bar gets out of proportion, not allowing the visualization
# of the other variables, better filter it out for visualization
# fig, axs = plt.subplots(nrows=2, ncols=2)
plt.subplot(2, 1, 2)
not_a_regular_day = df4[df4["state_holiday"] != "regular_day"]
sns.countplot( x=not_a_regular_day["state_holiday"] )

# ====== Important ======
# in the kdeplot the option common_norm=False produces a plot that is out of proportion
# it makes easter and christmas larger than they really are because they are not comparing with each other
# when common_norm=True, the default setting, density of values is distributed between the graphs,
# so that their shared area sum (integral) is 1
# when false, their individual area integral is equal to 1
plt.subplot(2, 2, 1).set_title("Proportional Densities")
sns.kdeplot( data=not_a_regular_day, x="sales", hue="state_holiday", shade=True )

# just ploted this out of proportion graph for the visual comparison of skew and kurtosis
plt.subplot(2, 2, 2).set_title("Out of Proportion Densities")
sns.kdeplot( data=not_a_regular_day, x="sales", hue="state_holiday", shade=True, common_norm=False )

## 4.2. Bivariate Analysis

## 4.3. Multivariate Analysis

# SPACE